:root {
  --primary: #735cdd;
  --secondary: #c5bcf1;
  --white: #ffffff;
  --grey: #f6f6f6;
  --sidebar-width: 80px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

button {
  width: 100%;
  height: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.btn {
  background-color: var(--primary);
  color: var(--white);
  outline: none;
  border: none;
}

svg {
  width: 1.2rem;
  height: 1.2rem;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.b-r-10 {
  border-radius: 10px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

/* SIDEBAR */
.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background: var(--primary);
  padding: 10px;
  box-sizing: border-box;
}

.product-listing-area {
  width: calc(100% - var(--sidebar-width) - 25%);
  height: 100%;
  border: 2px solid var(--primary);
}

.cart-listing-area {
  width: calc(100% - 75%);
  height: 100%;
}

.product-card {
  width: calc(100% / 4 - 10px);
  height: auto;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.cart-card {
  width: 100%;
  height: auto;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.product-card:hover,
.cart-card:hover {
  background-color: #f5f5f5;
}

.counter {
  > p {
    font-size: 1.5rem;
  }
}

.cart-counter-btn {
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.bg-secondary {
  background-color: var(--secondary);
}

.cart-listing-container {
  height: auto;
  overflow-y: scroll;
}

.cart-value-section {
  > .tax-item {
    > ul {
      padding: 0px;
      list-style-type: none;

      > li {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

/* NAV_ITEM */
.nav_item {
  width: 50px;
  height: 50px;
  background: var(--white);
  color: var(--primary);
}

.products-container {
  width: 100%;
}

.auth_page_container {
  width: 100%;
  height: 100vh;
  background: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_form_card {
  width: 400px;
  min-height: 400px;
  background: var(--white);
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;

  > img {
    width: 100px;
  }

  > .inputField {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    > label {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 5px;
    }

    > input {
      height: 50px;
      padding-inline-start: 10px;
      font-size: 1rem;
    }
  }
}
